html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roberto', sans-serif;
    overflow-x: hidden;
}
button{
    outline: none;
}
/* animations */
@keyframes bgzoom {
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.animate__slideInDown{
    animation: slideInDown;
    animation-duration: 1s;
}
.animate__slideInLeft{
    animation: slideInLeft;
    animation-duration: 2s;
}
.animate__slideInRight{
    animation: slideInRight;
    animation-duration: 2s;
}
.animate__zoomIn{
    animation: zoomIn;
    animation-duration: 0.5s;
}
.animate__fadeIn{
    animation: fadeIn;
    animation-duration: 1s;
}
.animate__fadeInUp{
    animation: fadeInUp;
    animation-duration: 1s;
}
.animate__fadeInDown{
    animation: fadeInDown;
    animation-duration: 1s;
}
/* animations */
/* preloader */
.preloader{
    width: 100%;
    min-height: 100vh;
}
.spinner-border{
    width: 100px;
    height: 100px;
    border: 15px solid #eee;
    border-right-color: #00b0f0;
}
/* preloader */
/* nav */
nav{
    text-transform: capitalize;
    z-index: 11;
    border-bottom: 2px solid rgba(73, 73, 73, 0.7);
}
.contain{
    width: 90%;
}
.bi-list{
    font-size: 40px;
    color: white;
}
.text-black{
    color: black;
}
.carousel-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    animation-name: bgzoom;
    animation-duration: 0.4s;
}
.carousel-item:nth-child(1){
    background-image: url("../images/slider-1.jpg");
}
.carousel-item:nth-child(2){
    background-image: url("../images/slide-01.jpg");
}
nav .row{
    width: 100%;
}
#overrides .nav-items.col-12{
    justify-content: unset;
    justify-content: start;
}
nav img{
    height: 25px;
}
#overrides .nav-trans a{
    color: unset;
    color: rgba(73, 73, 73, 0.7);
    font-weight: bold;
    font-size: 14px;
}
#overrides .nav-white{
    background-color: white;
    border-bottom: 2px solid #eee;
}
#overrides .navbar-light .navbar-toggler{
    border: none;
}
#overrides .navbar-light .navbar-toggler:focus{
    outline: none;
}
#overrides .nav-white .nav-link{
    color: unset;
    color: black;
    font-weight: bold;
    font-size: 14px;
    transition: color 0.2s;
}
#overrides .nav-white .nav-link-blue{
    color: unset;
    color: #00b0f0;
}
#overrides .nav-white .nav-item{
    position: relative;
}
#overrides .nav-white .nav-item::after{
    content: "";
    height: 1px;
    width: 0;
    background-color: #00b0f0;
    position: absolute;
    transition: width 0.2s;
}
#overrides .nav-white .nav-item:hover::after{
    width: 100%;
}
#overrides .nav-link:hover{
    color: #00b0f0;
}
.dropdown-toggle::after{
    content: none;
}
nav .fa-chevron-down{
    font-size: 10px;
    position: relative;
    bottom: 1px;
}
#overrides .bi-x{
    color: unset;
    color: black !important;
}
/* nav */
/* main */
.layer{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
}
.carousel{
    position: relative;
}
main .carousel-item{
    width: 100vw;
    height: 100vh;
    color: white;
}
.carousel-item.active{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 30px;
    font-weight: 800;
}
main p{
    font-size: 17px;
}
.download{
    height: 50px;
    width: 170px;
    border: 1px solid #00b0f0;
    color: white;
    background-color: #00b0f0;
    transition: background-color 0.5s;
}
.download:hover{
    background-color: transparent;
    border: 1px solid white;
}
#overrides .next, #overrides .previous{
    color: white;
    background-color: rgba(170, 170, 170, 0.5);
    font-size: unset;
    font-size: 14px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
    z-index: 5;
}
main .next{
    right: 40px;
}
main .previous{
    left: 40px;
}
/* main */
/* about */
#about{
    background: #f6f6f6;
}
#about h5{
    color: #00b0f0;
}
#about h5, #about h3{
    font-weight: bold;
}
#about .image{
    background-image: url("../images/about-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.about-text{
    padding: 70px;
}
#about ul{
    list-style-type: none;
}
#about li::before{
    content: "\2714\0020 ";
    color: #00b0f0;
}
#about p, #about li{
    color: rgb(125, 125, 125);
    font-size: 17px;
}
#about button{
    font-size: 20px;
    color: white;
    background-color: #00b0f0;
    height: 50px;
    width: 180px;
    border: none;
    transition: background-color 0.5s;
}
#about button:hover{
    background-color: transparent;
    color: #00b0f0;
    border: 1px solid #00b0f0;
}
.fa-play{
    font-size: 20px;
}
/* about */
/* services */
#services{
    padding: 100px 40px;
    overflow: hidden;
}
h6{
    color: #00b0f0;
}
#services .row{
    gap: 30px;
}
#services .col-12{
    border: 1px solid #ddd;
    height: 340px;
    width: unset;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px 1px #eee;
    position: relative;
    bottom: 0;
    transition: bottom 0.5s;
}
.icon-container{
    color: white;
    background-color: #00b0f0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#services i{
    color: white;
    font-size: 40px;
}
#services h5{
    font-weight: bold;
}
#services p{
    color: rgb(125, 125, 125);
}
/* services */
.logo{
    background: #54595f;
    display: flex;
  }
  .logo img{
    margin: 30px 22px;
    flex: 1;
    opacity: 0.85;
  }
  .logo img:hover{
    opacity: 0.95;
  }
  
  @media screen and (max-width:991px){
    .logo .mg{
      margin-left: 32%;
    }
  }
  @media screen and (max-width:575px){
    .logo .mg{
      margin-left: 0;
    }
  }
  /*team*/
  .Team{
    height: 330px;
    background-image: url(../images/blog-02-1.jpg);
    background-size: cover;
    background-attachment: fixed;
   background-position: center;
    position: relative;
  }
  .Team .overlay{
    background-color: #00b0f0;
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, #00b0f0);*/
    opacity: 0.8;
  }
  .teams-item{
    padding: 100px ;
    /*عشان احرك مكانهم لتحت شويه*/
    display: flex;
    justify-content: center;
  }
  
  .team-item{
  text-align: center;
   padding: 0 10px;
  }
  .team-item i{
    color:white;
    margin-bottom: 20px;
  }
  .team-item .number{
    font-size: 50px;
    color: white;
  }
  .team-item .client{
    font-size: 19px;
    margin-bottom: 15px;
    color: white;
  }
  @media screen and (max-width:991px){
    .Team{
      height: 900px;
    }
    .team-item{
      margin-bottom: 20px;
    }
  }
  /*general*/
   /*keep in touch*/
   .keep-in-touch {
     margin-top: 7%;
   }
    .keep-in-touch i{
      color:#00b0f0;
    }
  .keep-in-touch header {
    text-align: center;
    margin-bottom: 50px;
  }
  .keep-in-touch header .header-span{
    color:#00b0f0;
    font-size: 20px;
    text-transform: capitalize;
  }
  .keep-in-touch header .header-h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
  }
  .keep-in-touch-info .icon{
  float: left;
  }
  .keep-in-touch-info .desc{
    text-align: left;
    margin-left: 60px;
  }
  .keep-in-touch-info .desc p{
    color: #7a7a7a;
    margin: 20px auto 50px auto;
  }
  .form{
      padding: 40px 20px 10px 30px;
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 10%);
  }
  .form input , .form textarea {
    width: 45%;
    padding: 6px 13px;
    border: 1px solid #ddd;
    color: #888;
    text-transform: capitalize;
    outline: none;
    box-sizing: border-box;
    padding-left: 34px;
    margin-left: 3%;
  }
  .form textarea{
    width: 90%;
  }
  .sub , .inf , .area{
    position: relative;
    margin-bottom: 3%;
  }
  .sub i , .inf i , .area i{
    position: absolute;
    left:30px;
    top: 10px;
    text-align: center;
  }
  .sub .on , .inf .on{
    position: absolute;
    left:360px;
    top: 10px;
    text-align: center;
  }
  .form button{
    background-color:#00b0f0;
    color: white;
    padding: 10px 15px;
    border: 0;
  }
  @media screen and (max-width:1268px){
    .form input {
      width: 100%;
      margin-bottom: 2%;
    }
    .sub .on , .inf .on{
      left:30px;
      top:60px;
    }
  }
  /*call-us*/
  .call-us{
    margin-top: 15%;
  }
  .background {
    background-color:#00b0f0;
    position:relative;
    bottom: 90px;
    padding: 40px;
  }
  .effect{
    background: #6ec1e4;
    height:180px;
  }
  
  .call-us h2 ,.call-us p{
    color: white;
    text-transform:capitalize;
  }
  .call-us p{
    font-size: 18px;
    margin-top: 10px;
  }
  .call-us button{
    text-transform: capitalize;
    margin-top: 60px;
    background-color: white;
    padding: 10px 30px;
    border: 0;
  }
  @media screen and (max-width:991px){
    .background{
      padding: 30px;
    }
    .call-us button{
      margin-top: 20px;
    }
    .call-us{
      margin-top: 20%;
    }
}
  
  /*footer*/
footer{
    background-color: #e8e8e8;
}
.footer-item{
    margin-top: 3%;
    padding: 30px;
}
.footer-item header{
    font-weight: bold;
}
.footer-item header:after{
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    margin: 20px 0;
    background-color:#00b0f0;
}
/* 1 */
.footer-item p{
    color: #7a7a7a;
    line-height: 1.8;
    margin: 15px 0;
}
/*2 ,3*/
.footer-item  li a{
    text-align: left;
    text-decoration: none;
    color: #7a7a7a;
    margin-left: 5px;
}
.footer-item  li a:hover{
    color: black;
}
.footer-item li {
    list-style: none;
    margin: 15px 0;
}
/*4*/
.footer-item  input{
    border: 0;
    padding: 10px 20px;
    background: rgba(255,255,255,.6);
    position: absolute;
}
.footer-item  button{
    border: 0;
    padding: 10px 20px;
    background: #00b0f0;
    color: white;
    position: relative;
    left: 130px;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #services .col-12{
        height: 300px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #overrides .nav-trans a{
        color: white;
    }
    .next{
        right: -40px;
        transition: right 0.5s;
    }
    .previous{
        left: -40px;
        transition: left 0.5s;
    }
    main:hover .next{
        right: 60px;
    }
    main:hover .previous{
        left: 40px;
    }
    #services .col-12{
        width: 280px;
    }
    #services .col-12:hover{
        bottom: 8px;
        box-shadow: 10px 10px 20px 1px #bbb;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #services .col-12{
        height: 340px;
        width: 340px;
    }
}
